*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    background-image: url(/img/fundo-blur.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

