body {
    background-image: url('../img/fundoCadastro.png');
    background-size: cover;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
}
h1 {
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    font-family:Montserrat;
}

.login-container {
    justify-content: center;
    background: #EFEFEF;
    border-radius: 10px;
    padding: 100px;
    box-shadow: 0 0 10px  #7B7066;
    color:  #353535;
}

.btn-opcao{
    align-items: center;
    justify-content: center;
    height: 5pc;
    background-color: #21497C;
    border-radius: 30px;
    font-size: 27px;
    color: #d8d8d8;
    margin: 5px;
}